.input-ui__container {
    background-image: linear-gradient(to right, #a2a2a2 0%, #e7e7e7 50%, #a2a2a2 100%);
}

/**********************************************************************************
* Slider
**********************************************************************************/

.slider {
    -webkit-appearance: none;
    width: 7vw;
    max-width: 60px;
    height: 2vw;
    max-height: 20px;
    /* border-radius: 5px;   */
    border-top: 3px solid rgba(0, 0, 0, 0.444);
    border-bottom: 3px solid rgba(0, 0, 0, 0.362);
    border-left: 4px solid rgba(0, 0, 0, 0.201);
    border-right: 4px solid rgba(0, 0, 0, 0.227);
    background: #e9e6e3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    box-shadow: inset 3px 0px 8px -2px #00000065, inset -3px 0px 8px -2px #00000065;

    /* box-shadow: inset 0px 0px 5px #22222297, inset -5px 0px 10px -3px #000000cb; */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2vw;
    max-width: 19px;
    height: 2vw;
    max-height: 19px;
    border-radius: 5px;
    /* background: #b3b3b3; */
    cursor: grab;
    background: linear-gradient(to right, #f6f3ef 0%, #bdbdbd 45%, #cfcfcf 50%, #bdbdbd 55%, #f6f3ef 100%);
    box-shadow: 0px 0px 5px #222222a4, inset 0px 0px 5px #2222222f, inset -5px 0px 10px -3px #00000017;
}

.slider::-moz-range-thumb {
    cursor: grabbing;
}

.input-label__container {
    align-items: end;
    margin-bottom: 0;
}

.input-label__container div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* align-items: end; */
    /* border: 1px solid #354237; */
    height: fit-content;
    width: 3.5vw;
    text-align: center;
    font-size: .55rem;
    /* font-weight: 500; */
    color: black;
    line-height: 0;
}

.bracket-div__container {
    align-items: end;
    margin-top: 0;
}

/* .bracket-div__container div { width: 1vw;} */

.input-label__one,
.input-label__three {
    color: black;
    font-size: 0.55rem;
    text-align: center;
    margin-right: 1px;
}

.bracket-div__one {
    height: 6px;
    width: 1vw;
    max-width: 12px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: none;
    border-left: none;

}

.bracket-div__two {
    height: 8px;
    width: 1.75vw;
    max-width: 15px;
    border-top: none;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: none;
    border-left: none;
}

.bracket-div__three {
    height: 8px;
    width: 1.75vw;
    max-width: 15px;
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.4);
}

.bracket-div__four {
    height: 6px;
    width: 1vw;
    max-width: 12px;
    border-top: 1px solid black;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid black;
}

/**********************************************************************************
* Record and Play lights
**********************************************************************************/

.record-light__off, .play-light__off {
    background-image: radial-gradient(11px 11px at 30% 50%, #aaaaaa, #111);
    width: 1.25vw;
    max-width: 11px;
    min-width: 5px;
    height: 1.25vw;
    max-height: 11px;
    min-height: 5px;
    border-radius: 50%;
    border: solid 2px #555;
}

.record-light__on {
    background: rgb(255, 140, 140);
    background-image: radial-gradient(red, transparent);
    background-size: 5px 5px;
    width: 1.25vw;
    max-width: 11px;
    min-width: 5px;
    height: 1.25vw;
    max-height: 11px;
    min-height: 5px;
    border-radius: 50%;
    border: solid 2px #555;
    box-shadow:
        0 0 3px #111 inset,
        0 0 10px red;
}

.play-light__on {
    background: rgb(0, 198, 0);
    background-image: radial-gradient(green, transparent);
    background-size: 5px 5px;
    width: 1.25vw;
    max-width: 11px;
    min-width: 5px;
    height: 1.25vw;
    max-height: 11px;
    min-height: 5px;
    border-radius: 50%;
    border: solid 2px #555;
    box-shadow:
        0 0 3px #111 inset,
        0 0 10px green;
}

/**********************************************************************************
* Buttons
**********************************************************************************/

.btn-container {
    height: fit-content;
    border-top: 2px solid rgba(0, 0, 0, 0.314);
    border-bottom: 5px solid rgba(0, 0, 0, 0.225);
    border-left: 4px solid rgba(0, 0, 0, 0.148);
    border-right: 4px solid rgba(0, 0, 0, 0.104);
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #222;
    background-color: #222;
    color: antiquewhite;
    font-size: 60%;
    text-transform: uppercase;
    height: 3.4vw;
    max-height: 40px;
    min-height: 20px;
    width: 5vw;
    max-width: 60px;
    min-width: 30px;
}

.btn span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    margin: 0 2px;
}

.record-btn {
    background-color: #a93428;
    box-shadow:
        inset 1px 1px 1px #dc7f75,
        inset -1px -1px 1px #6d231a,
        2px 2px 4px #000;
}

.record-btn:active {
    transform: scale(.95);
    color: rgb(216, 204, 188);
    background-color: #892b21;
    box-shadow:
        inset 1px 1px 1px 0px rgba(255, 226, 226, 0.258),
        inset 1px 1px 1px 0px transparent,
        1px 1px 1px 0px transparent;
}

.stop-btn {
    background-color: #333;
    box-shadow:
        inset 1px 1px 1px rgba(255, 226, 226, 0.258),
        inset -1px -1px 1px rgb(10, 10, 10),
        2px 2px 4px #000;
}

.stop-btn:active {
    transform: scale(.95);
    color: rgb(216, 204, 188);
    background-color: #222;
    box-shadow:
        inset 1px 1px 1px 0px rgba(255, 226, 226, 0.258),
        inset 1px 1px 1px 0px transparent,
        1px 1px 1px 0px transparent;
}

.play-btn {
    background-color: #196062;
    box-shadow:
        inset 1px 1px 1px #7dc9d9,
        inset -1px -1px 1px #0e3b4a,
        2px 2px 4px #000;
}

.play-btn:active {
    transform: scale(.95);
    color: rgb(216, 204, 188);
    background-color: #0e3b4a;
    box-shadow:
        inset 1px 1px 1px 0px rgba(255, 226, 226, 0.258),
        inset 1px 1px 1px 0px transparent,
        1px 1px 1px 0px transparent;
}

/**********************************************************************************
* VU Meter
**********************************************************************************/

