.middle-panel__container {
    background-image: linear-gradient(to right, #a2a2a2 0%, #e7e7e7 50%, #a2a2a2 100%);
}

.bottom-panel {
    background-image: linear-gradient(to right, #111 0%, #333 50%, #111 100%);
z-index: 0;
}

.bottom-trim {
    width: 100%;
    height: 2vw;
    background-image: linear-gradient(to right, #777676 0%, #bababa 50%, #777676 100%);
}

/**********************************************************************************
* Input Selector 
**********************************************************************************/

.slider {
    -webkit-appearance: none;
    width: 7vw;
    max-width: 60px;
    height: 2vw;
    max-height: 20px;
    /* border-radius: 5px;   */
    border-top: 3px solid rgba(0, 0, 0, 0.444);
    border-bottom: 3px solid rgba(0, 0, 0, 0.362);
    border-left: 4px solid rgba(0, 0, 0, 0.201);
    border-right: 4px solid rgba(0, 0, 0, 0.227);
    background: #e9e6e3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    box-shadow: inset 3px 0px 8px -2px #00000065, inset -3px 0px 8px -2px #00000065;

    /* box-shadow: inset 0px 0px 5px #22222297, inset -5px 0px 10px -3px #000000cb; */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2vw;
    max-width: 19px;
    height: 2vw;
    max-height: 19px;
    border-radius: 5px;
    /* background: #b3b3b3; */
    cursor: grab;
    background: linear-gradient(to right, #f6f3ef 0%, #bdbdbd 45%, #cfcfcf 50%, #bdbdbd 55%, #f6f3ef 100%);
    box-shadow: 0px 0px 5px #222222a4, inset 0px 0px 5px #2222222f, inset -5px 0px 10px -3px #00000017;
}

.slider::-moz-range-thumb {
    cursor: grabbing;
}

.input-label__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    height: fit-content;
    font-size: .55rem;
    color: black;
    line-height: 0;
}

.bracket-div__container {
    align-items: flex-end;
    margin: 0 0 1px 0;
}

/* .bracket-div__container div { width: 1vw;} */

.input-label__one,
.input-label__three {
    color: black;
    font-size: 0.55rem;
    text-align: center;
    margin-right: 1px;
}

.bracket-div__one {
    height: 6px;
    width: 1vw;
    max-width: 11px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: none;
    border-left: none;

}

.bracket-div__two {
    height: 8px;
    width: 1.75vw;
    max-width: 14px;
    border-top: none;
    border-right: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: none;
    border-left: none;
}

.bracket-div__three {
    height: 8px;
    width: 1.75vw;
    max-width: 14px;
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.4);
}

.bracket-div__four {
    height: 6px;
    width: 1vw;
    max-width: 12px;
    border-top: 1px solid black;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid black;
}

/**********************************************************************************
* Input Screen
**********************************************************************************/

.input-screen {
    width: 20vw;
    height: 6vw;
    position: relative;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 6px;
    z-index: 0;
}

.input-screen__title {
    position: absolute;
    top: -1vw;
    left: 1vw;
    font-size: 0.5rem;
    color: rgb(210, 210, 210);
    background-color: #111;
    background-image: linear-gradient(to right, #111 0%, #222 100%);
    font-weight: 500;
    padding: 0 0.25vw;
    border-radius: 5px;
    text-transform: uppercase;
    z-index: 2;
}

.input-screen__layer-one {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 19vw;
    height: 5vw;
    background-color: #111;
    border-top: 0.75vw solid #333;
    border-bottom: 0.75vw solid rgb(120, 120, 120);
    border-left: 0.5vw solid rgb(82, 82, 82);
    border-right: 0.5vw solid rgb(82, 82, 82);
    border-radius: 3px;
    z-index: 0;
}

.input-screen__layer-two {
    position: inherit;
    overflow-y: auto;
    width: calc(100% - 1.5vw);
    height: calc(100% - 2vw);
    border: solid 1px #222;
    color: #0dff007d; 
    background-image: linear-gradient(to right, #333 0%, #555 50%, #333 100%);
    border-radius: 1.5px;
    padding: 3%;
    font-size: 0.6rem;
    font-family: monospace;
    box-shadow: inset 0px 0px 5px #222222, inset -5px 0px 10px -3px #000000a5;
    z-index: 1;

}

/**********************************************************************************
* Mic Inputs
**********************************************************************************/

.mic-inputs__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10vw;
    height: fit-content;
    position: relative;
    border-top: 1px solid rgb(177, 177, 177);
    border-radius: 6px;
    padding: 5px;
    margin-top: 1.5vw;
    margin-bottom: 1vw;
    z-index: 0;
}

.mic-inputs__title {
    position: absolute;
    top: -1vw;
    left: 10%;
    font-size: 0.5rem;
    color: rgb(210, 210, 210);
    background-color: #111;
    background-image: linear-gradient(to right, #111 0%, #222 100%);
    font-weight: 500;
    padding: 0 0.125vw;
    border-radius: 5px;
    text-transform: uppercase;
    z-index: 2;
}

.mic-inputs {
    position: absolute;
    top: 0.5vw;
    left: 3.7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5vw;
    max-width: 35px;
    height: 2.5vw;
    max-height: 35px;
    background-color: #000;
    border-radius: 50%;
}

.mic-inputs:first-of-type {
    left: -1.25vw;
}

.mic-inputs:last-of-type {
    left: 8.75vw;
}

.mic-inputs__layer-one {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    background-image: linear-gradient(to right, #a2a2a2 0%, #e7e7e7 50%, #a2a2a2 100%);
    border-radius: 50%;
}

.mic-inputs__layer-two {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    background-image: linear-gradient(to bottom, #000 0%, #333 50%, #888 100%);
    border-radius: 50%;
}
/**********************************************************************************
* Lights
**********************************************************************************/

.power-light__off,
.mic-light__off,
.record-light__off,
.play-light__off {
    background-image: radial-gradient(11px 11px at 30% 50%, #aaaaaa, #111);
    width: 1.25vw;
    max-width: 11px;
    min-width: 5px;
    height: 1.25vw;
    max-height: 11px;
    min-height: 5px;
    border-radius: 50%;
    border: solid 2px #555;
}

.record-light__on {
    background: rgb(255, 140, 140);
    background-image: radial-gradient(red, transparent);
    background-size: 5px 5px;
    width: 1.25vw;
    max-width: 11px;
    min-width: 5px;
    height: 1.25vw;
    max-height: 11px;
    min-height: 5px;
    border-radius: 50%;
    border: solid 2px #555;
    box-shadow:
        0 0 3px #111 inset,
        0 0 10px red;
}

.play-light__on {
    background: rgb(149, 254, 149);
    background-image: radial-gradient(green, transparent);
    background-size: 5px 5px;
    width: 1.25vw;
    max-width: 11px;
    min-width: 5px;
    height: 1.25vw;
    max-height: 11px;
    min-height: 5px;
    border-radius: 50%;
    border: solid 2px #555;
    box-shadow:
        0 0 3px #111 inset,
        0 0 10px green;
}

/**********************************************************************************
* Buttons
**********************************************************************************/

.btn-container {
    height: fit-content;
    border-top: 2px solid rgba(0, 0, 0, 0.314);
    border-bottom: 5px solid rgba(0, 0, 0, 0.225);
    border-left: 4px solid rgba(0, 0, 0, 0.148);
    border-right: 4px solid rgba(0, 0, 0, 0.104);
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #222;
    background-color: #222;
    color: antiquewhite;
    font-size: 60%;
    text-transform: uppercase;
    height: 3.4vw;
    max-height: 40px;
    min-height: 20px;
    width: 5vw;
    max-width: 60px;
    min-width: 30px;
}

.vrt-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #222;
    background-color: #222;
    color: antiquewhite;
    font-size: 60%;
    text-transform: uppercase;
    width: 2.5vw;
    max-width: 30px;
    min-width: 10px;
    height: 4vw;
    max-height: 45px;
    min-height: 20px;
}

.btn span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    margin: 0 2px;
}

.vrt-btn span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    margin: 2px 0;
}

.record-btn {
    background-color: #a93428;
    box-shadow:
        inset 1px 1px 1px #dc7f75,
        inset -1px -1px 1px #6d231a,
        2px 2px 4px #000;
}

.record-btn:active {
    transform: scale(.95);
    color: rgb(216, 204, 188);
    background-color: #892b21;
    box-shadow:
        inset 1px 1px 1px 0px rgba(255, 226, 226, 0.258),
        inset 1px 1px 1px 0px transparent,
        1px 1px 1px 0px transparent;
}

.stop-btn {
    background-color: #333;
    box-shadow:
        inset 1px 1px 1px rgba(255, 226, 226, 0.258),
        inset -1px -1px 1px rgb(10, 10, 10),
        2px 2px 4px #000;
}

.stop-btn:active {
    transform: scale(.95);
    color: rgb(216, 204, 188);
    background-color: #222;
    box-shadow:
        inset 1px 1px 1px 0px rgba(255, 226, 226, 0.258),
        inset 1px 1px 1px 0px transparent,
        1px 1px 1px 0px transparent;
}

.play-btn {
    background-color: #196062;
    box-shadow:
        inset 1px 1px 1px #7dc9d9,
        inset -1px -1px 1px #0e3b4a,
        2px 2px 4px #000;
}

.play-btn:active {
    transform: scale(.95);
    color: rgb(216, 204, 188);
    background-color: #0e3b4a;
    box-shadow:
        inset 1px 1px 1px 0px rgba(255, 226, 226, 0.258),
        inset 1px 1px 1px 0px transparent,
        1px 1px 1px 0px transparent;
}

.mic-btn {
    background-color: #333;
    box-shadow:
        inset -1.5px 1.5px 1px rgba(255, 226, 226, 0.258),
        inset 2px -2px 1px rgba(48, 48, 48, 0.509),
        -2px 2px 4px #000;
}

.mic-btn:active {
    transform: scale(.95);
    color: rgb(216, 204, 188);
    background-color: #222;
    box-shadow:
        inset -1px 1px 1px 0px rgb(56, 56, 56),
        inset 1px -1px 1px 0px transparent,
        -1px 1px 1px 0px transparent;
}

/**********************************************************************************
* VU Meter
**********************************************************************************/

.vu-meter {
    width: 17vw;
    height: 12vw;
    position: relative;
    overflow: hidden;
}

.vu-meter__background {
    background: linear-gradient(to right, #bdbb98 0%, #e8e7c9 50%, #bdbb98 100%);
    box-shadow: inset 0 0 8px 1px rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: absolute;
}

.vu-meter__needle-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    /* transform: translateX(0%); */
    width: 100%;
    z-index: 2;
}

.vu-meter__needle {
    width: 1px;
    height: 9.5vw;
    background: #000000;
    filter: drop-shadow(2px -2px 4px rgba(0, 0, 0, .6));
    transform: rotate(-45deg);
    transform-origin: center bottom;
}

.vu-meter__text-container {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    z-index: 1;
}

.vu-meter__arch-container {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    z-index: 1;
}

.vu-meter__arch--color {
    position: absolute;
    top: -3vw;
    left: 1vw;
  width: 15vw;
  height: 9.5vw; /* Adjust the height as needed */
  color: #bdbb98;
  background: linear-gradient(to right, #bdbb98 10%, #3b39a7 60%, #a93428 80%, #bdbb98 90%);
  overflow: hidden;
  border-radius: 50% 50% 0 0;
  line-height: 15px;
}

.vu_meter__arch--overlap {
    position: absolute;
    top: -2vw;
    left: 1.5vw;
  width: 14vw;
  height: 9.5vw; /* Adjust the height as needed */
  background: linear-gradient(to right, #bdbb98 0%, #e8e7c9 50%, #bdbb98 100%);
  overflow: hidden;
  border-radius: 50% 50% 0 0;
}

.vu-meter__text {
    font-size: 1.25vw;
    color: #604736;
    font-weight: 600;
    padding: 0.5vw;
    border-radius: 5px;
}

.vu-meter__black-layer {
    position: absolute;
    height: 100%;
    width: 100%;
    border-top: solid 2.5vw #444;
    border-right: solid 1.5vw #333;
    border-bottom: solid 2.5vw #222;
    border-left: solid 1.5vw #333;
    z-index: 3;
}

.vu-meter__silver-layer {
    position: inherit;
    height: 97%;
    width: 97%;
    border-top: solid 2vw #c3c2c2;
    border-right: solid 1vw #909090;
    border-bottom: solid 2vw #777777;
    border-left: solid 1vw #909090;
    margin-left: auto;
    margin-right: auto;
    margin-top: .75%;
    z-index: 4;
}

.vu-meter__needle.is-spinning {
    animation: needle-move 5s ease-out infinite alternate;
}

.vu-meter__needle:not(.is-spinning) {
    animation: needle-return 1s ease-out forwards;
}

@keyframes needle-move {
    from {
        transform: rotate(-15deg);
    }

    20% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(12deg);
    }

    60% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(10deg);
    }

    to {
        transform: rotate(-5deg);
    }
}

@keyframes needle-return {
    from {
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(-45deg);
    }
}