.input-ui__container {
    background-image: linear-gradient(to right, #a2a2a2 0%, #e7e7e7 50%, #a2a2a2 100%); ;

}

.slider {
    -webkit-appearance: none;
    width: 60px;
    height: 20px;
    /* border-radius: 5px;   */
    border-top: 4px solid rgba(0, 0, 0, 0.517);
    border-bottom: 4px solid rgba(0, 0, 0, 0.517);
    border-left: 6px solid rgba(0, 0, 0, 0.201);
    border-right: 6px solid rgba(0, 0, 0, 0.201);
    background: #e9e6e3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    box-shadow: inset 3px 0px 8px -2px #00000065, inset -3px 0px 8px -2px #00000065;

    /* box-shadow: inset 0px 0px 5px #22222297, inset -5px 0px 10px -3px #000000cb; */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 18px;
    border-radius: 5px;
    /* background: #b3b3b3; */
    cursor: grab;
    background: linear-gradient(to right, #f6f3ef 8px, #bdbdbd 9px, #dedede 10px, #bdbdbd 11px, #f6f3ef 12px);
    box-shadow: 0px 0px 5px #222222a4, inset 0px 0px 5px #2222222f, inset -5px 0px 10px -3px #00000017;
}

.slider::-moz-range-thumb {
    cursor: grabbing;
}

.input-label__container { align-items: end;}

.input-label__container div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* align-items: end; */
    /* border: 1px solid #354237; */
    height: fit-content;
    width: 28px;
    text-align: center;
    font-size: .5rem;
    font-weight: 500;
    color: black;
}

.bracket-div__container { align-items: end; }

.bracket-div__container div { width: 13px;}

.bracket-div__one {
    height: 6px;
    
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: none;
    border-left: none;
}

.bracket-div__two {
    height: 7px;
    /* width: 22px; */
    border-top: none;
    border-right: 0.5px solid black;
    border-bottom: none;
    border-left: none;
}

.bracket-div__three {
    height: 7px;
    /* width:17px; */
    border: none;
}

.bracket-div__four {
    height: 6px;
    
    border-top: 1px solid black;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid black;
}